<!DOCTYPE HTML>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>UVaLoL</title>
</head>

<body style="background-color: rgb(49, 49, 49);">
    <p class="title" style="margin-top: 20px; background-color: rgb(199, 157, 80);">2020 Spring</p>
    <div style="overflow: auto;">
        <table id="signup-list">
            <!--Table headers-->
            <tr class="list-header">
                <th>
                    <div class="info">Captain
                        <span class="infotext">If the player signed up as a captain (Y/N)</span>
                    </div>
                </th>
                <th>
                    <div class="info">Name
                        <span class="infotext">Name of the player, i.e. Austin Drischler</span>
                    </div>
                </th>
                <th>
                    <div class="info">In-game ID
                        <span class="infotext">In-game ID of the player, i.e. Boetox</span>
                    </div>
                </th>
                <th>
                    <div class="info">School year
                        <span class="infotext">School year, i.e. 1st, 2nd </span>
                    </div>
                </th>
                <th>
                    <div class="info">Last Season's Rank
                        <span class="infotext">Most recently placed rank of the player, at the time of signup</span>
                    </div>
                </th>
                <th>
                    <div class="info">Highest Rank
                        <span class="infotext">Highest placed rank of the player</span>
                    </div>
                </th>
                <th>
                    <div class="info">Preferred Roles
                        <span class="infotext">Roles that the players are willing to play, i.e. top, mid</span>
                    </div>
                </th>
                <th>
                    <div class="info">Preferred Captain
                        <span class="infotext">Captain that the player would like to play with</span>
                    </div>
                </th>
                <th>
                    <div class="info">Fun Fact
                        <span class="infotext">Anything that the player wants to say</span>
                    </div>
                </th>
            </tr>

            <ng-container *ngFor="let player of players">
                <tr class="list-element">
                    <td>{{player.isCaptain}}</td>
                    <td>{{player.Name}}</td>
                    <td>{{player.PlayerID}}</td>
                    <td>{{player.Year}}</td>
                    <td>{{player.SeasonRank}}</td>
                    <td>{{player.HighestRank}}</td>
                    <td>{{player.Role}}</td>
                    <td>{{player.Captain}}</td>
                    <td style="overflow: scroll;" nowrap>{{player.Funfact}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
</body>

<footer>
    <small>All Rights Reserved.</small>
</footer>

</html>







