<head>
  <meta charset='utf-8'>
  <script type='text/javascript'>
  </script>
</head>

<body style="margin: 0; padding: 0; background-image: url('assets/rift.jpg'); background-size: cover;">
  <div>
    <app-navbar></app-navbar>
    <div style="text-align:center">
      <h1 style="font-family: Helvetica; Font-size: 40px;color: rgb(199, 157, 80);">
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="jumbotron" style= "background-color: rgb(49, 49, 49);">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>
</body>

