<head>
  <meta charset='utf-8'>
  <script type='text/javascript'>
  </script>
</head>

<body style="margin: 0; padding: 0">
  <app-navbar></app-navbar>
  <div style="text-align:center">
    <h1 style="font-family: Helvetica; Font-size: 40px;">
      {{ title }}
    </h1>
  </div>

  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>
</body>

